.dashicon#phone:before{
    content: "\f525";
    font-family: dashicons;
    padding-right: 7px;
    vertical-align: sub;
    font-size: 1.2rem;
}
.dashicon#email:before{
content: "\f465";
font-family: dashicons;
font-size: 1.2rem;
padding-right: 7px;
vertical-align: sub;
}
